<h2>My Goals</h2>

<%= @user.username %>

<% if @user.completed_goals %>
<h3>Completed Goals</h3>
<ul>
  <% @user.completed_goals.each do |c_goal| %>
  <li><%= c_goal.goal_text %></li>
  <% end %>
  </ul>
<% end %>

<h3>Incomplete Goals</h3>
<ul>
  <% @user.goals.each do |goal| %>
  <% next if goal.user != current_user && goal.visibility == "Private" || goal.completed%>
    <li><%= goal.goal_text %></li>
    <li><%= button_to "Comment on this Goal", new_goal_goal_comment_url(goal), method: :get %></li>
    <% if goal.goal_comments %>
    <ul>
      <% goal.goal_comments.each do |comment| %>
      <li><%= comment.body %></li>
      <% end  %>
    </ul>
    <% end %>
    <li><%= button_to "View Comments on this Goal", goal_goal_comments_url(goal), method: :get %></li>

    <% if goal.user == current_user %>
      <li><%= button_to "Mark as Completed", complete_goal_url(goal) %></li>
      <li><%= button_to "Edit Goal", edit_goal_url(goal), method: :get %></li>
      <li><%= button_to "Delete Goal", goal_url(goal), method: :delete %></li>
    <% end %>
  <% end %>
</ul>

<% if @user.user_comments %>
<h3>Comments about you </h3>

<ul>
<% @user.user_comments.each do |comment| %>
<li><%= comment.body %></li>
<% end %>
</ul>
<% end %>
<h3>New Goal</h3>

<form action="<%= goals_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="goal[user_id]" value="<%= @user.id %>">
  <label>Goal
    <input type="text" name="goal[goal_text]" >

  </label>
  <label>Visibility
    <select name="goal[visibility]">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </label>
  <input type="submit" value="Create Goal">
</form>

<h3>Comment on this User</h3>

<form action="<%= user_comments_url %>" method="post">
  <%= auth_token %>
  <label>Comment
    <input type="text" name="user_comment[body]">
  </label>
  <input type="submit" value="Make Comment">
  <input type="hidden" name="user_comment[user_id]" value=" <%= @user.id %>">
</form>

<%= link_to "Users", users_url %>
